@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,600&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*  navbar styling */

.navbar{
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 30px 0;
    font-family: 'ubuntu', sans-serif;
    transition: all 0.2s ease;
}

.navbar.sticky{
    padding: 15px 0;
    background: #e46d5f;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.navbar .logo a{
    color: #f7f9f5 ;
    font-size: 35px;
    font-weight: 600;
  

}

.navbar .logo a span{
    color:#e46d5f;
    transition: all 0.2s ease;
}

.navbar.sticky .logo a span{
    color: #f7f9f5;

}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #f7f9f5;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.2s ease;

}

.navbar .menu li a:hover{
    color: #e46d5f;
}

.navbar.sticky .menu li a:hover{
    color: #f7f9f5;

}

/* menu btn styling */
.menu-btn{
    color: #f7f9f5;
    font-size: 23px;
    cursor: pointer;
    display: none;

}

/* home section styling */

.home{
    display: flex;
    background: url(/images/background.jpg) no-repeat center;
    height: 100vh;
    color: #f7f9f5;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 27px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: #e46d5f;
    font-weight: 500;

}

.home-content a{
    display: inline-block;
    background: #e46d5f;
    color: #f7f9f5;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #e46d5f;
    transition: all 0.2s ease;
}

.home-content a:hover {
    color: #f7f9f5;
    background: none;
}





/* all related styles */
.about, .services {
    padding: 100px 0;
    font-family:  'Poppins', sans-serif;
    background-color: #f7f9f5;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #3a3d4e;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 20px;
    color: #e46d5f;
    padding: 5px;
    background: #f7f9f5;
    transform: translateX(-50%);

}

.about-content, .services-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


/*about section styling*/
.about .title::after{
    content: "Who am I";
}


.left {
    width: 40%;
}



.left img{
    height: 400px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.right {
    width: 60%; 
}

.ptext {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 30px;
    color: #3a3d4e;

}

.ptext span{
    color: #e46d5f;

}


.right p {
    text-align: justify;
}

.right a {
    display: inline-block;
    background: #e46d5f;
    color: #f7f9f5;
    font: size 20px;
    font-weight: 500;
    padding: 1px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #e46d5f;
    transition: all 0.2s ease;
}

.right a:hover {
    background: none;
    color: #e46d5f;
}


/*services section styling*/
.services{
    color: #f7f9f5;
    background: #3a3d4e;
}

.services .title::after{
    background: #3a3d4e;
    content: "What i Do";    
}

.card {
    width: calc(50% - 30px);
    background: #ece5d9;
    border-radius: 10px;
    padding: 20px 25px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
}

.box{
    transition: all 0.3s ease;
    position: relative;
}

.card:hover{
    background: #e46d5f;
    transform: translateY(-15px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s ease;
}

.card:hover p{
    transform: translateY(-5px);
    transition: all 0.3s ease;
    color: #f7f9f5;
}






.card i{
    color: #3a3d4e;
    font-size: 50px;
}

.card p {
    color: #e46d5f;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 30px;
}




/*  responsive button  */

@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px){
    .left img{
        height: 350px;
        width: 270px;
    }

}

@media (max-width: 992px){
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #3a3d4e;  
        text-align: center;  
        padding-top: 80px; 
        transition: all 0.2s ease ;   
    }

    .navbar .menu.active{
        left: 0%;
    }

    .navbar .menu li {
        display: block;
    
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;


    }

    .home .home-content .text-2 {
        font-size: 70px;
    }
    
    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    /* about section styling */
    .max-width{
        max-width: 80opx;
    }
    .column{
        width: 100%;
    }
    .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .right{
        flex: 100%;  
        text-align: center;      
    }

    /* services section styling */
    .services-content{
        display: block;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }


    .card{
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }

}

@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }
    
    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home-content a {
        font-size: 20px;

    }

}

@media (max-width: 500px){
    .max-width{
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 50px;
    }
    
    .home .home-content .text-3 {
        font-size: 27px;
    }

}


